@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  @apply bg-[#ebd5b3] dark:bg-gray-900 transition-colors duration-300 text-gray-800 dark:text-gray-100;
}

/* PAISAGEM (Computador e Tablet Horizontal) */
.game-board-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto auto;
  gap: 12px;
  align-items: start;
  grid-template-areas:
    "header header"
    "actions actions"
    "tokens board"
    "tokens log";
}

.game-board-container > div {
  min-width: 0;
}

/* RETRATO (Telemóveis e Tablet Vertical) */
@media (max-width: 768px) {
  .game-board-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "actions"
      "board"
      "tokens"
      "log";
  }
}
